.ui.card {    
    width: 100% !important;
    .card {
        width: 640px;
    }
    .content {
        width: 100%;

    }

    .__ranking {

        font-weight: 800;
        margin: 10px 0px;
        padding-left: 0px !important;
    }

}
.MuiGrid-spacing-xs-3
{
    .MuiGrid-item {
        padding-left: 0px i !important;
    }
    
}

.MuiGrid-spacing-xs-3 > .MuiGrid-item 
{
    padding: 0px !important;
}

